.nav{
  font-size: 14px;
  font-family: georgia;
  padding-left: 50px;
  padding-bottom: : 50px;
}
.navbar{
  margin-bottom: 170px;
  width: 800px;
  margin-left: 500px;
  min-height: 30px;
  height:30px;
  padding-left: 150px;
  padding-bottom: 20px;
}
